#block{
    margin: auto;
    width: 800px;
}

#photo{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    margin: 7px 0 7px 7px;
    float: right;
}

.bold{
    font-weight: bold;
}

.list{
    font-style: italic;
    line-height: 25px;
}

.margin{
    margin-bottom: 5px;
}

